* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

window#waybar {
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: @bg1;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#workspaces,
#custom-ddcutil,
#custom-notification,
#clock,
#pulseaudio,
#idle_inhibitor,
#tray
{
    border-radius: 10px;
    padding: 1px 10px;
    color: @fg1;
}

#clock.time{
    color: @aqua;
}

#clock.date{
    color: @green
}

#network{
    color: @orange
}

#cpu,
#memory{
    color: @purple;
    padding: 0 8 1 8
}

#custom-ddcutil{
    color: @yellow
}

#idle_inhibitor{
    padding: 1 20 1 12;
    color:@blue
}

#idle_inhibitor.activated{
    color:@red
}

#pulseaudio{
    padding-right: 18px;
    color:@aqua
}

#custom-notification{
    color:@green;
    padding-right:15px
}

.modules-right > widget:last-child > #custom-notification{
   margin-right: 3px; 
}

#workspaces {
    margin: 2px 4px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button {
    color: @fg1;
    padding-top: 3;
    border-radius: 20px;
}

#workspaces button.focused {
    background-color: @yellow_alt;
    box-shadow: inset 0 -3px #ffffffee;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 3;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}
