;; ┌────────────────────────────────────────────────────────────┐
;; │░█▀█░█▀█░█░░░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀│
;; │░█▀▀░█░█░█░░░░█░░█▀▄░█▀█░█▀▄░░░░▀░░░░█░░░█░█░█░█░█▀▀░░█░░█░█│
;; │░▀░░░▀▀▀░▀▀▀░░▀░░▀▀░░▀░▀░▀░▀░░░░▀░░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀│
;; └────────────────────────────────────────────────────────────┘

;; File Inclusion
include-file = $HOME/.config/leftwm/themes/current/polybar.colors
include-file = $HOME/.config/leftwm/themes/current/polybar.modules


[bar/mainbar0]
enable-ipc = true
inherit = bar/barbase
modules-left = workspace0


[bar/mainbar1]
enable-ipc = true
inherit = bar/barbase
modules-left = workspace1


[bar/barbase]
enable-ipc = true
width = ${env:width}
monitor = ${env:monitor}
offset-x = 5
offset-y = 2
height = 46
fixed-center = true
bottom = false
background = ${color.background}
foreground = ${color.foreground}
;;radius-top = 8
;;radius-bottom = 8
padding-left = 1
padding-right = 2
module-margin-left = 0
module-margin-right = 0
font-0 = "Iosevka Nerd Font:size=16:weight=bold;2"
font-1 = "Roboto:size=21:weight=bold;2"
font-2 = "Noto Sans:size=21:weight=bold;1"
font-3 = "FontAwesome:size=20:weight=bold"
font-4 = "Feather:size=19:weight=bold;2"
modules-right = tray spacer mem spacer cpu spacer pulseaudio-control spacer bluetooth wlanspacer date
border-bottom = 0
cursor-click = pointer
cursor-scroll = ns-resize

[settings]
screenchange-reload = true
throttle-output = 5
throttle-output-for = 10
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = true

[global/wm]
margin-top = 0
margin-bottom = 0

[module/tray]
type = internal/tray
;;format-margin = 12px
tray-spacing = 8px
tray-size = 63%
